doctype html
html
  head
    style
      include style.css

  body
    a(href='/') Back to homepage

    form(method='POST' action='/new' class='newMessageForm')
      input(type='text' name='messageText' placeholder='Pineapples belong on pizza and nobody can tell me otherwise' required)
      input(type='text' name='messageUser' placeholder='Username' required)
      button(type='submit') Post
